body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    text-align: center;
}

header {
    background-color: #001023;
    padding: 10px;
    border-bottom: 2px solid #dee2e6; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
}
.user-info img{
    width: 100px;
    height: 20px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    position: relative;
}

.welcome-message {
    cursor: pointer;
    position: relative;
    color: #fff;
    padding: 10px;
    font-size: 20px;
}

.user-dropdown {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    z-index: 100;
}

.user-info:hover .user-dropdown {
    display: block;
}

.user-dropdown p {
    margin: 5px 0;
    color: #000;
}

.user-dropdown a {
    display: block;
    color: #0073e6;
    text-decoration: none;
    margin-top: 10px;
}


.logout-button {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

.cart-icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.cart-icon a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}

.cart-icon i {
    font-size: 24px;
    margin-right: 5px;
}

.cart-count {
    font-size: 18px;
    font-weight: bold;
    color: #dc3545;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container form {
    display: flex;
}

.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

.search-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #bc8400;
    color: white;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

.categories-header {
    background-color: #004695;
    border-bottom: 2px solid #dee2e6;
    height: 30px;
}

.categories-header h2 {
    margin: 0;
    font-size: 30px;
    color: #343a40;
}

.categories {
    display: flex;
  
}

.categories a ,i{
    margin: 2px 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}


.categories a:hover {
    text-decoration: underline;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.product button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 5px;
}

.product button:hover {
    background-color: #218838;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.login-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
}

.error-message {
    color: #dc3545;
    margin-bottom: 15px;
}

.login-form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.form-label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
